<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      <form action="/" method="get"><button type="submit">Today</button></form>
      <form action="/work" method="get"><button type="submit">Work</button></form>
    </nav>

<div class="container">
    <header class="header">
      <div class="date"><h1><%= data.heading %></h1></div>
    </header>
 