<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <!-- use for sorting and addin side bar use var for query [] for date,rating ,recent -->
      <div></div>
    </header>
    <% books.forEach(book => { }); %>
  </body>
</html>
