<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header><h1>Enter the doman name you want to find out about:</h1></header>

    <form action="/" method="post">
      <label for="domain">Domain</label>
      <input type="text" name="domain" />
      <input type="submit" name="submit">
    </form>

    <% if (locals.data.ip) {%>
    <div class="data-bg1">
      <ul>
        <% for (var i=0 ;i<data.arrays.arrayIp.length;i++ ) { %>
    
          <li><%= data.arrays.arrayIp[i] %>  <%= data[data.arrays.arrayIp[i]] %></li>
          
    <% } %>
      </ul>
      
    </div>
      <div class="data-bg2">
        <ul>
          <% for (var i=0 ;i<data.arrays.arrayDom.length;i++ ) { %>
      
            <li><%= data.arrays.arrayDom[i] %>  <%= data.domain[data.arrays.arrayDom[i]] %></li>
            
      <% } %>
        </ul>
        
      </div>
<% } %>
    

    <script src="./main.js"></script>
  </body>
</html>
