nav {
  display: flex;
  margin: 2rem 2rem;
  align-self: self-start;
}
nav button {
  padding: 0.5rem 1rem;
  border-radius: 10%;

  margin: 0 0.6rem 0 0;
  background-color: rgb(100, 63, 235);
  color: white;
  border: 2px outset white;
}
body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #b2b2e4, #b2d4d4);
  text-align: center;
  align-items: center;
}
.header {
  padding: 0.5rem 1.5rem;
  background-color: blueviolet;
  color: rgb(255, 255, 255);
}
.container {
  padding: 0 2rem;
}
.bg {
  padding: 1rem 1rem 0 0.5rem;
  background-color: rgb(206, 218, 231);
  font-size: x-large;
  line-height: 2.5rem;
  box-shadow: 13px 20px 40px 0px rgb(0 85 100/35%);
}
ul {
  padding-left: 0;
}
ul li {
  list-style: none;
  text-align: left;
  list-style-type: none;
  pointer-events: none;
}
li > input {
  transform: translateY(1.5px);
}

.footer-txt {
  text-align: center;
}
.crossed {
  text-decoration: line-through;
}
